.signup {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.signup .container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1.5rem;
	font-size: 2.5rem;
	min-height: 50vh;
	width: min-content;
	border-radius: 20px;
	border: 5px solid #393e46;
	background-color: #eeeee0;
	gap: 4rem;
	text-align: center;
}

.signup .container form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	margin: 1rem;
}

.signup .container form input,
.signup .container form button {
	font-size: 1.7rem;
	border: 1px solid #393e46;
	border-radius: 10px;
	padding: 0.5rem 1rem;
}

.signup .container form button {
	background-color: #54bab9;
}

.signup .container a {
	color: #54bab9;
	font-size: 1.5rem;
	text-decoration: none;
	padding: 0.5rem;
	border: 1px solid #eeeee0;
	transition: ease 0.3s;
}

.signup .container a:hover {
	border: 1px solid #54bab9;
	transition: ease 0.3s;
}
