.register {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #eeeeee;
}

.register .container {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 12px;
	border: 2px solid #393e46;
	background-color: #eeeee0;
	height: 55vh;
	width: 25vw;
	overflow: hidden;
}
